$$\newcommand{\xv}{\mathbf{x}}
\newcommand{\Xv}{\mathbf{X}}
\newcommand{\yv}{\mathbf{y}}
\newcommand{\Yv}{\mathbf{Y}}
\newcommand{\zv}{\mathbf{z}}
\newcommand{\av}{\mathbf{a}}
\newcommand{\Wv}{\mathbf{W}}
\newcommand{\wv}{\mathbf{w}}
\newcommand{\betav}{\mathbf{\beta}}
\newcommand{\gv}{\mathbf{g}}
\newcommand{\Hv}{\mathbf{H}}
\newcommand{\dv}{\mathbf{d}}
\newcommand{\Vv}{\mathbf{V}}
\newcommand{\vv}{\mathbf{v}}
\newcommand{\tv}{\mathbf{t}}
\newcommand{\Tv}{\mathbf{T}}
\newcommand{\Sv}{\mathbf{S}}
\newcommand{\zv}{\mathbf{z}}
\newcommand{\Zv}{\mathbf{Z}}
\newcommand{\Norm}{\mathcal{N}}
\newcommand{\muv}{\boldsymbol{\mu}}
\newcommand{\sigmav}{\boldsymbol{\sigma}}
\newcommand{\phiv}{\boldsymbol{\phi}}
\newcommand{\Phiv}{\boldsymbol{\Phi}}
\newcommand{\Sigmav}{\boldsymbol{\Sigma}}
\newcommand{\Lambdav}{\boldsymbol{\Lambda}}
\newcommand{\half}{\frac{1}{2}}
\newcommand{\argmax}[1]{\underset{#1}{\operatorname{argmax}}}
\newcommand{\argmin}[1]{\underset{#1}{\operatorname{argmin}}}
\newcommand{\dimensionbar}[1]{\underset{#1}{\operatorname{|}}}
\newcommand{\dimensionbar}[1]{\underset{#1}{\operatorname{|}}}
\newcommand{\grad}{\mathbf{\nabla}}
\newcommand{\ebx}[1]{e^{\wv_{#1}^T \xv_n}}
\newcommand{\eby}[1]{e^{y_{n,#1}}}
\newcommand{\Tiv}{\mathbf{Ti}}
\newcommand{\Fv}{\mathbf{F}}
\newcommand{\ones}[1]{\mathbf{1}_{#1}}
$$

## UNCLASSIFIED 
_Distribution A_

# Data exploration and visualization for NASA data
data gathered from: https://c3.ndc.nasa.gov/dashlink/projects/85/resources/

The purpose of this file is to figure out the format of the matlab files with the intention of converting them
to panda dataframes and saving them in a parquet format.  all files that were downloaded are in matlab (.mat) format.

In [7]:
import numpy as np
import matplotlib.pyplot as plt
from scipy.io import loadmat
import pandas as pd
import dateutil
from collections import defaultdict
%matplotlib inline

---

## Parameters Contained in each file

In [8]:
data1 = loadmat('Tail_687_1/687200104111158.mat')
data1 = loadmat('Tail_654_4/654200204300312.mat')
k = data1.keys()
k

dict_keys(['__header__', '__version__', '__globals__', 'VAR_1107', 'VAR_2670', 'VAR_5107', 'VAR_6670', 'FPAC', 'BLAC', 'CTAC', 'TH', 'MH', 'EGT_1', 'EGT_2', 'EGT_3', 'EGT_4', 'IVV', 'GS', 'TRK', 'TRKM', 'DA', 'POVT', 'WS', 'MW', 'DFGS', 'WD', 'ALT', 'NSQT', 'RALT', 'ALTR', 'FQTY_1', 'OIT_1', 'OIT_2', 'AOA1', 'AOA2', 'PTCH', 'FF_1', 'PSA', 'FF_2', 'FF_3', 'ROLL', 'FF_4', 'N1_1', 'N1_2', 'MACH', 'CAS', 'APFD', 'PH', 'CASM', 'TAS', 'VRTG', 'LATG', 'PI', 'PS', 'N1_3', 'EVNT', 'MRK', 'VIB_1', 'PT', 'VHF1', 'VHF2', 'LGDN', 'LGUP', 'VIB_2', 'VHF3', 'PUSH', 'SHKR', 'MSQT_2', 'VIB_3', 'LONG', 'PLA_1', 'N1_4', 'HYDY', 'HYDG', 'SMOK', 'CALT', 'VIB_4', 'PLA_2', 'PLA_3', 'PLA_4', 'GMT_HOUR', 'GMT_MINUTE', 'GMT_SEC', 'ACMT', 'FQTY_2', 'OIT_3', 'OIT_4', 'DATE_YEAR', 'DATE_MONTH', 'DATE_DAY', 'DVER_1', 'ACID', 'BLV', 'EAI', 'PACK', 'AOAI', 'AOAC', 'BAL1', 'APUF', 'TOCW', 'BAL2', 'WSHR', 'WOW', 'N2_1', 'N2_2', 'N2_3', 'N2_4', 'TAT', 'SAT', 'N1T', 'N1C', 'RUDD', 'FQTY_3', 'OIP_1', 'OIP_2', 'FQTY_4', 'CRSS', 'HDGS', 'ALTS', 'SNAP', 'CASS', 'N1CO', 'VSPS', 'MNS', 'MSQT_1', 'VMODE', 'LMOD', 'A_T', 'CCPC', 'CCPF', 'RUDP', 'CWPC', 'CWPF', 'OIP_3', 'OIP_4', 'LOC', 'GLS', 'LONP', 'ABRK', 'AIL_1', 'AIL_2', 'SPL_1', 'SPL_2', 'ESN_4', 'ECYC_1', 'ECYC_2', 'ELEV_1', 'ELEV_2', 'FLAP', 'PTRM', 'HF1', 'HF2', 'SMKB', 'SPLY', 'SPLG', 'FRMC', 'DVER_2', 'ESN_3', 'BPGR_1', 'BPGR_2', 'BPYR_1', 'BPYR_2', 'ECYC_3', 'ECYC_4', 'EHRS_1', 'TCAS', 'GPWS', 'TMAG', 'TAI', 'WAI_1', 'WAI_2', 'DWPT', 'OIPL', 'FADF', 'FADS', 'EHRS_4', 'EHRS_3', 'EHRS_2', 'TMODE', 'ATEN', 'LATP', 'FIRE_1', 'FIRE_2', 'FIRE_3', 'FIRE_4', 'FGC3', 'ILSF', 'ESN_1', 'ESN_2'])

In [9]:
len(k)

189

## All dictionary values are made of an numpy ndarray of objects
### They all have the objects named 'data', 'Rate', 'Units', 'Description', 'Alpha'
#### With the exception of the '__header__', '__version__', '__globals__' values

In [10]:
[print(data1[k].dtype.names) for k in data1.keys() if type(data1[k]) == np.ndarray]

('data', 'Rate', 'Units', 'Description', 'Alpha')
('data', 'Rate', 'Units', 'Description', 'Alpha')
('data', 'Rate', 'Units', 'Description', 'Alpha')
('data', 'Rate', 'Units', 'Description', 'Alpha')
('data', 'Rate', 'Units', 'Description', 'Alpha')
('data', 'Rate', 'Units', 'Description', 'Alpha')
('data', 'Rate', 'Units', 'Description', 'Alpha')
('data', 'Rate', 'Units', 'Description', 'Alpha')
('data', 'Rate', 'Units', 'Description', 'Alpha')
('data', 'Rate', 'Units', 'Description', 'Alpha')
('data', 'Rate', 'Units', 'Description', 'Alpha')
('data', 'Rate', 'Units', 'Description', 'Alpha')
('data', 'Rate', 'Units', 'Description', 'Alpha')
('data', 'Rate', 'Units', 'Description', 'Alpha')
('data', 'Rate', 'Units', 'Description', 'Alpha')
('data', 'Rate', 'Units', 'Description', 'Alpha')
('data', 'Rate', 'Units', 'Description', 'Alpha')
('data', 'Rate', 'Units', 'Description', 'Alpha')
('data', 'Rate', 'Units', 'Description', 'Alpha')
('data', 'Rate', 'Units', 'Description', 'Alpha')
('data', 'Rate', 'Units', 'Description', 'Alpha')
('data', 'Rate', 'Units', 'Description', 'Alpha')
('data', 'Rate', 'Units', 'Description', 'Alpha')
('data', 'Rate', 'Units', 'Description', 'Alpha')
('data', 'Rate', 'Units', 'Description', 'Alpha')
('data', 'Rate', 'Units', 'Description', 'Alpha')
('data', 'Rate', 'Units', 'Description', 'Alpha')
('data', 'Rate', 'Units', 'Description', 'Alpha')
('data', 'Rate', 'Units', 'Description', 'Alpha')
('data', 'Rate', 'Units', 'Description', 'Alpha')
('data', 'Rate', 'Units', 'Description', 'Alpha')
('data', 'Rate', 'Units', 'Description', 'Alpha')
('data', 'Rate', 'Units', 'Description', 'Alpha')
('data', 'Rate', 'Units', 'Description', 'Alpha')
('data', 'Rate', 'Units', 'Description', 'Alpha')
('data', 'Rate', 'Units', 'Description', 'Alpha')
('data', 'Rate', 'Units', 'Description', 'Alpha')
('data', 'Rate', 'Units', 'Description', 'Alpha')
('data', 'Rate', 'Units', 'Description', 'Alpha')
('data', 'Rate', 'Units', 'Description', 'Alpha')
('data', 'Rate', 'Units', 'Description', 'Alpha')
('data', 'Rate', 'Units', 'Description', 'Alpha')
('data', 'Rate', 'Units', 'Description', 'Alpha')
('data', 'Rate', 'Units', 'Description', 'Alpha')
('data', 'Rate', 'Units', 'Description', 'Alpha')
('data', 'Rate', 'Units', 'Description', 'Alpha')
('data', 'Rate', 'Units', 'Description', 'Alpha')
('data', 'Rate', 'Units', 'Description', 'Alpha')
('data', 'Rate', 'Units', 'Description', 'Alpha')
('data', 'Rate', 'Units', 'Description', 'Alpha')
('data', 'Rate', 'Units', 'Description', 'Alpha')
('data', 'Rate', 'Units', 'Description', 'Alpha')
('data', 'Rate', 'Units', 'Description', 'Alpha')
('data', 'Rate', 'Units', 'Description', 'Alpha')
('data', 'Rate', 'Units', 'Description', 'Alpha')
('data', 'Rate', 'Units', 'Description', 'Alpha')
('data', 'Rate', 'Units', 'Description', 'Alpha')
('data', 'Rate', 'Units', 'Description', 'Alpha')
('data', 'Rate', 'Units', 'Description', 'Alpha')
('data', 'Rate', 'Units', 'Description', 'Alpha')
('data', 'Rate', 'Units', 'Description', 'Alpha')
('data', 'Rate', 'Units', 'Description', 'Alpha')
('data', 'Rate', 'Units', 'Description', 'Alpha')
('data', 'Rate', 'Units', 'Description', 'Alpha')
('data', 'Rate', 'Units', 'Description', 'Alpha')
('data', 'Rate', 'Units', 'Description', 'Alpha')
('data', 'Rate', 'Units', 'Description', 'Alpha')
('data', 'Rate', 'Units', 'Description', 'Alpha')
('data', 'Rate', 'Units', 'Description', 'Alpha')
('data', 'Rate', 'Units', 'Description', 'Alpha')
('data', 'Rate', 'Units', 'Description', 'Alpha')
('data', 'Rate', 'Units', 'Description', 'Alpha')
('data', 'Rate', 'Units', 'Description', 'Alpha')
('data', 'Rate', 'Units', 'Description', 'Alpha')
('data', 'Rate', 'Units', 'Description', 'Alpha')
('data', 'Rate', 'Units', 'Description', 'Alpha')
('data', 'Rate', 'Units', 'Description', 'Alpha')
('data', 'Rate', 'Units', 'Description', 'Alpha')
('data', 'Rate', 'Units', 'Description', 'Alpha')
('data', 'Rate', 'Units', 'Description', 'Alpha')
('data', 'Rate', 'Units', 'Description', 'Alpha')
('data', 'Rate', 'Units', 'Description', 'Alpha')
('data', 'Rate', 'Units', 'Description', 'Alpha')
('data', 'Rate', 'Units', 'Description', 'Alpha')
('data', 'Rate', 'Units', 'Description', 'Alpha')
('data', 'Rate', 'Units', 'Description', 'Alpha')
('data', 'Rate', 'Units', 'Description', 'Alpha')
('data', 'Rate', 'Units', 'Description', 'Alpha')
('data', 'Rate', 'Units', 'Description', 'Alpha')
('data', 'Rate', 'Units', 'Description', 'Alpha')
('data', 'Rate', 'Units', 'Description', 'Alpha')
('data', 'Rate', 'Units', 'Description', 'Alpha')
('data', 'Rate', 'Units', 'Description', 'Alpha')
('data', 'Rate', 'Units', 'Description', 'Alpha')
('data', 'Rate', 'Units', 'Description', 'Alpha')
('data', 'Rate', 'Units', 'Description', 'Alpha')
('data', 'Rate', 'Units', 'Description', 'Alpha')
('data', 'Rate', 'Units', 'Description', 'Alpha')
('data', 'Rate', 'Units', 'Description', 'Alpha')
('data', 'Rate', 'Units', 'Description', 'Alpha')
('data', 'Rate', 'Units', 'Description', 'Alpha')
('data', 'Rate', 'Units', 'Description', 'Alpha')
('data', 'Rate', 'Units', 'Description', 'Alpha')
('data', 'Rate', 'Units', 'Description', 'Alpha')
('data', 'Rate', 'Units', 'Description', 'Alpha')
('data', 'Rate', 'Units', 'Description', 'Alpha')
('data', 'Rate', 'Units', 'Description', 'Alpha')
('data', 'Rate', 'Units', 'Description', 'Alpha')
('data', 'Rate', 'Units', 'Description', 'Alpha')
('data', 'Rate', 'Units', 'Description', 'Alpha')
('data', 'Rate', 'Units', 'Description', 'Alpha')
('data', 'Rate', 'Units', 'Description', 'Alpha')
('data', 'Rate', 'Units', 'Description', 'Alpha')
('data', 'Rate', 'Units', 'Description', 'Alpha')
('data', 'Rate', 'Units', 'Description', 'Alpha')
('data', 'Rate', 'Units', 'Description', 'Alpha')
('data', 'Rate', 'Units', 'Description', 'Alpha')
('data', 'Rate', 'Units', 'Description', 'Alpha')
('data', 'Rate', 'Units', 'Description', 'Alpha')
('data', 'Rate', 'Units', 'Description', 'Alpha')
('data', 'Rate', 'Units', 'Description', 'Alpha')
('data', 'Rate', 'Units', 'Description', 'Alpha')
('data', 'Rate', 'Units', 'Description', 'Alpha')
('data', 'Rate', 'Units', 'Description', 'Alpha')
('data', 'Rate', 'Units', 'Description', 'Alpha')
('data', 'Rate', 'Units', 'Description', 'Alpha')
('data', 'Rate', 'Units', 'Description', 'Alpha')
('data', 'Rate', 'Units', 'Description', 'Alpha')
('data', 'Rate', 'Units', 'Description', 'Alpha')
('data', 'Rate', 'Units', 'Description', 'Alpha')
('data', 'Rate', 'Units', 'Description', 'Alpha')
('data', 'Rate', 'Units', 'Description', 'Alpha')
('data', 'Rate', 'Units', 'Description', 'Alpha')
('data', 'Rate', 'Units', 'Description', 'Alpha')
('data', 'Rate', 'Units', 'Description', 'Alpha')
('data', 'Rate', 'Units', 'Description', 'Alpha')
('data', 'Rate', 'Units', 'Description', 'Alpha')
('data', 'Rate', 'Units', 'Description', 'Alpha')
('data', 'Rate', 'Units', 'Description', 'Alpha')
('data', 'Rate', 'Units', 'Description', 'Alpha')
('data', 'Rate', 'Units', 'Description', 'Alpha')
('data', 'Rate', 'Units', 'Description', 'Alpha')
('data', 'Rate', 'Units', 'Description', 'Alpha')
('data', 'Rate', 'Units', 'Description', 'Alpha')
('data', 'Rate', 'Units', 'Description', 'Alpha')
('data', 'Rate', 'Units', 'Description', 'Alpha')
('data', 'Rate', 'Units', 'Description', 'Alpha')
('data', 'Rate', 'Units', 'Description', 'Alpha')
('data', 'Rate', 'Units', 'Description', 'Alpha')
('data', 'Rate', 'Units', 'Description', 'Alpha')
('data', 'Rate', 'Units', 'Description', 'Alpha')
('data', 'Rate', 'Units', 'Description', 'Alpha')
('data', 'Rate', 'Units', 'Description', 'Alpha')
('data', 'Rate', 'Units', 'Description', 'Alpha')
('data', 'Rate', 'Units', 'Description', 'Alpha')
('data', 'Rate', 'Units', 'Description', 'Alpha')
('data', 'Rate', 'Units', 'Description', 'Alpha')
('data', 'Rate', 'Units', 'Description', 'Alpha')
('data', 'Rate', 'Units', 'Description', 'Alpha')
('data', 'Rate', 'Units', 'Description', 'Alpha')
('data', 'Rate', 'Units', 'Description', 'Alpha')
('data', 'Rate', 'Units', 'Description', 'Alpha')
('data', 'Rate', 'Units', 'Description', 'Alpha')
('data', 'Rate', 'Units', 'Description', 'Alpha')
('data', 'Rate', 'Units', 'Description', 'Alpha')
('data', 'Rate', 'Units', 'Description', 'Alpha')
('data', 'Rate', 'Units', 'Description', 'Alpha')
('data', 'Rate', 'Units', 'Description', 'Alpha')
('data', 'Rate', 'Units', 'Description', 'Alpha')
('data', 'Rate', 'Units', 'Description', 'Alpha')
('data', 'Rate', 'Units', 'Description', 'Alpha')
('data', 'Rate', 'Units', 'Description', 'Alpha')
('data', 'Rate', 'Units', 'Description', 'Alpha')
('data', 'Rate', 'Units', 'Description', 'Alpha')
('data', 'Rate', 'Units', 'Description', 'Alpha')
('data', 'Rate', 'Units', 'Description', 'Alpha')
('data', 'Rate', 'Units', 'Description', 'Alpha')
('data', 'Rate', 'Units', 'Description', 'Alpha')
('data', 'Rate', 'Units', 'Description', 'Alpha')
('data', 'Rate', 'Units', 'Description', 'Alpha')
('data', 'Rate', 'Units', 'Description', 'Alpha')
('data', 'Rate', 'Units', 'Description', 'Alpha')
('data', 'Rate', 'Units', 'Description', 'Alpha')
('data', 'Rate', 'Units', 'Description', 'Alpha')
('data', 'Rate', 'Units', 'Description', 'Alpha')
('data', 'Rate', 'Units', 'Description', 'Alpha')

[None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None]

In [11]:
header = data1['__header__']
version = data1['__version__']
gs = data1['__globals__']
print(f'header = :{header}')
print(f'version = :{version}')
print(f'globals = :{gs}')

header = :b'MATLAB 5.0 MAT-file, Platform: GLNXA64, Created on: Tue Jan 28 10:26:54 2014'
version = :1.0
globals = :[]

# Reading and formatting Metadata for the file

## Calculating metadata

In [12]:
import os

fdir = 'Tail_687_1'

file = '687200104111158'
metadata = []
metadata = defaultdict(dict)

#filelist = os.listdir(fdir)
filelist = [(f'{file}.mat')]
#print(len(filelist))
#for f in filelist[0:12]:
for f in filelist:
    #print(f)
    d = loadmat((f'{fdir}/{f}'))
    year   = d['DATE_YEAR'][0][0][0][:]
    month  = d['DATE_MONTH'][0][0][0][:]
    day    = d['DATE_DAY'][0][0][0][:]
    hour   = d['GMT_HOUR'][0][0][0][:]
    minute = d['GMT_MINUTE'][0][0][0][:]
    second = d['GMT_SEC'][0][0][0][:]
    ys = min(np.unique(year))
    ms = min(np.unique(month))
    ds = min(np.unique(day))
    
    #h0s = hour[0][0].astype(float)
    #m0s = minute[0][0].astype(float)
    #s0s = second[0][0].astype(float)
    #h0e = hour[-1][0].astype(float)
    #m0e = minute[-1][0].astype(float)
    #s0e = second[-1][0].astype(float)
    ##starttime = timedelta(hours=h0s, minutes=m0s, seconds=s0s)
    ##stoptime = timedelta(hours=h0e, minutes=m0e, seconds=s0e)
    ##print(f'First file:{year[0,0]}:{month[0,0]}:{day[0,0]} Start: {starttime}, Stop {stoptime}')
    #print(f'File {f}:   {ys}:{month[0,0]}:{day[0,0]} Start: {h0s}:{m0s}:{s0s}, Stop {h0e}:{m0e}:{s0e}')
    if ys == 2165: 
        airbornedata = False
    else:
        airbornedata = True
        
    metadata[file]['AirborneData'] = airbornedata
    
    metadata[file]['StartDate'] = {}
    metadata[file]['StartDate']['Year']  = ys.astype(str)
    metadata[file]['StartDate']['Month'] = ms.astype(str)
    metadata[file]['StartDate']['Day']   = ds.astype(str)

### Stored Metadata

In [13]:
from collections import defaultdict

for k in data1.keys():
    #don't print the first "__xxxx__" parameters
    if type(data1[k]) == np.ndarray:
        u = data1[k]["Units"][0,0] 
        if u.shape[0] == 0: u = ["<none>"]
        #metadata[file] = defaultdict(dict)
        #metadata[file][k] = defaultdict(dict)
        metadata[file][k] = {}
        metadata[file][k]['Units']       = u[0]
        metadata[file][k]['Rate']        = data1[k]["Rate"][0,0][0,0].astype('float')
        metadata[file][k]['Alpha']       = data1[k]["Alpha"][0,0][0]
        metadata[file][k]['Description'] = data1[k]["Description"][0,0][0]
        #check to see if the "units" are blank and set to '<none>'
        print(f'{k:12s}Units: {str(metadata[file][k]["Units"]):10s}Rate: {str(metadata[file][k]["Rate"]):5s}',
                f'Alpha: {metadata[file][k]["Alpha"]:11s} Description: {metadata[file][k]["Description"]:10s}')

VAR_1107    Units: <units>   Rate: 0.25  Alpha: 1107        Description: SYNC WORD FOR SUBFRAME 1
VAR_2670    Units: <units>   Rate: 0.25  Alpha: 2670        Description: SYNC WORD FOR SUBFRAME 2
VAR_5107    Units: <units>   Rate: 0.25  Alpha: 5107        Description: SYNC WORD FOR SUBFRAME 3
VAR_6670    Units: <units>   Rate: 0.25  Alpha: 6670        Description: SYNC WORD FOR SUBFRAME 4
FPAC        Units: G         Rate: 16.0  Alpha: FPAC        Description: FLIGHT PATH ACCELERATION
BLAC        Units: G         Rate: 16.0  Alpha: BLAC        Description: BODY LONGITUDINAL ACCELERATION
CTAC        Units: G         Rate: 16.0  Alpha: CTAC        Description: CROSS TRACK ACCELERATION
TH          Units: DEG       Rate: 4.0   Alpha: TH          Description: TRUE HEADING LSP
MH          Units: DEG       Rate: 4.0   Alpha: MH          Description: MAGNETIC HEADING LSP
EGT_1       Units: DEG       Rate: 4.0   Alpha: EGT.1       Description: EXHAUST GAS TEMPERATURE 1
EGT_2       Units: DEG       Rate: 4.0   Alpha: EGT.2       Description: EXHAUST GAS TEMPERATURE 2
EGT_3       Units: DEG       Rate: 4.0   Alpha: EGT.3       Description: EXHAUST GAS TEMPERATURE 3
EGT_4       Units: DEG       Rate: 4.0   Alpha: EGT.4       Description: EXHAUST GAS TEMPERATURE 4
IVV         Units: FT/MIN    Rate: 16.0  Alpha: IVV         Description: INERTIAL VERTICAL SPEED LSP
GS          Units: KNOTS     Rate: 4.0   Alpha: GS          Description: GROUND SPEED LSP
TRK         Units: DEG       Rate: 4.0   Alpha: TRK         Description: TRACK ANGLE TRUE LSP
TRKM        Units: DEG       Rate: 4.0   Alpha: TRKM        Description: TRACK ANGLE MAG LSP
DA          Units: DEG       Rate: 4.0   Alpha: DA          Description: DRIFT ANGLE
POVT        Units: <none>    Rate: 1.0   Alpha: POVT        Description: PYLON OVERHEAT ALL ENGINES
WS          Units: KNOTS     Rate: 4.0   Alpha: WS          Description: WIND SPEED
MW          Units: <none>    Rate: 1.0   Alpha: MW          Description: MASTER WARNING
DFGS        Units: <none>    Rate: 1.0   Alpha: DFGS        Description: DFGS 1&2 MASTER
WD          Units: DEG       Rate: 4.0   Alpha: WD          Description: WIND DIRECTION TRUE
ALT         Units: FEET      Rate: 4.0   Alpha: ALT         Description: PRESSURE ALTITUDE LSP
NSQT        Units: <none>    Rate: 4.0   Alpha: NSQT        Description: SQUAT SWITCH NOSE MAIN GEAR
RALT        Units: FEET      Rate: 8.0   Alpha: RALT        Description: RADIO ALTITUDE LSP
ALTR        Units: FT/MIN    Rate: 4.0   Alpha: ALTR        Description: ALTITUDE RATE
FQTY_1      Units: LBS       Rate: 1.0   Alpha: FQTY.1      Description: FUEL QUANTITY TANK 1 LSB
OIT_1       Units: DEG       Rate: 1.0   Alpha: OIT.1       Description: OIL TEMPERATURE 1
OIT_2       Units: DEG       Rate: 1.0   Alpha: OIT.2       Description: OIL TEMPERATURE 2
AOA1        Units: DEG       Rate: 4.0   Alpha: AOA1        Description: ANGLE OF ATTACK 1
AOA2        Units: DEG       Rate: 4.0   Alpha: AOA2        Description: ANGLE OF ATTACK 2
PTCH        Units: DEG       Rate: 8.0   Alpha: PTCH        Description: PITCH ANGLE LSP
FF_1        Units: LBS/HR    Rate: 4.0   Alpha: FF.1        Description: FUEL FLOW 1
PSA         Units: MB        Rate: 2.0   Alpha: PSA         Description: AVARAGE STATIC PRESSURE LSP
FF_2        Units: LBS/HR    Rate: 4.0   Alpha: FF.2        Description: FUEL FLOW 2
FF_3        Units: LBS/HR    Rate: 4.0   Alpha: FF.3        Description: FUEL FLOW 3
ROLL        Units: DEG       Rate: 8.0   Alpha: ROLL        Description: ROLL ANGLE LSP
FF_4        Units: LBS/HR    Rate: 4.0   Alpha: FF.4        Description: FUEL FLOW 4
N1_1        Units: %RPM      Rate: 4.0   Alpha: N1.1        Description: FAN SPEED 1 LSP
N1_2        Units: %RPM      Rate: 4.0   Alpha: N1.2        Description: FAN SPEED 2 LSP
MACH        Units: MACH      Rate: 4.0   Alpha: MACH        Description: MACH LSP
CAS         Units: KNOTS     Rate: 4.0   Alpha: CAS         Description: COMPUTED AIRSPEED LSP
APFD        Units: <none>    Rate: 1.0   Alpha: APFD        Description: AP FD STATUS
PH          Units: <none>    Rate: 1.0   Alpha: PH          Description: FLIGHT PHASE FROM ACMS
CASM        Units: KNOTS     Rate: 4.0   Alpha: CASM        Description: MAX ALLOWABLE AIRSPEED
TAS         Units: KNOTS     Rate: 4.0   Alpha: TAS         Description: TRUE AIRSPEED LSP
VRTG        Units: G         Rate: 8.0   Alpha: VRTG        Description: VERTICAL ACCELERATION
LATG        Units: G         Rate: 4.0   Alpha: LATG        Description: LATERAL ACCELERATION
PI          Units: MB        Rate: 2.0   Alpha: PI          Description: IMPACT PRESSURE LSP
PS          Units: IN        Rate: 2.0   Alpha: PS          Description: STATIC PRESSURE LSP
N1_3        Units: %RPM      Rate: 4.0   Alpha: N1.3        Description: FAN SPEED 3 LSP
EVNT        Units: <none>    Rate: 1.0   Alpha: EVNT        Description: EVENT MARKER
MRK         Units: <none>    Rate: 1.0   Alpha: MRK         Description: MARKERS- INNER, MIDDLE, OUTER
VIB_1       Units: IN/SEC    Rate: 4.0   Alpha: VIB.1       Description: ENGINE VIBRATION 1
PT          Units: MB        Rate: 2.0   Alpha: PT          Description: TOTAL PRESSURE LSP
VHF1        Units: <none>    Rate: 1.0   Alpha: VHF1        Description: VHF KEYING #1
VHF2        Units: <none>    Rate: 1.0   Alpha: VHF2        Description: VHF KEYING #2
LGDN        Units: <none>    Rate: 1.0   Alpha: LGDN        Description: GEARS L&R DOWN LOCKED
LGUP        Units: <none>    Rate: 1.0   Alpha: LGUP        Description: GEARS L&R UP LOCKED
VIB_2       Units: IN/SEC    Rate: 4.0   Alpha: VIB.2       Description: ENGINE VIBRATION 2
VHF3        Units: <none>    Rate: 1.0   Alpha: VHF3        Description: VHF KEYING #3
PUSH        Units: <none>    Rate: 1.0   Alpha: PUSH        Description: STICK PUSHER
SHKR        Units: <none>    Rate: 2.0   Alpha: SHKR        Description: STICK SHAKER
MSQT_2      Units: <none>    Rate: 2.0   Alpha: MSQT.2      Description: SQUAT SWITCH RIGHT MAIN GEAR
VIB_3       Units: IN/SEC    Rate: 4.0   Alpha: VIB.3       Description: ENGINE VIBRATION 3
LONG        Units: G         Rate: 4.0   Alpha: LONG        Description: LONGITUDINAL ACCELERATION
PLA_1       Units: DEG       Rate: 4.0   Alpha: PLA.1       Description: POWER LEVER ANGLE 1
N1_4        Units: %RPM      Rate: 4.0   Alpha: N1.4        Description: FAN SPEED 4 LSP
HYDY        Units: <none>    Rate: 1.0   Alpha: HYDY        Description: LOW HYDRAULIC PRESSURE YELLOW
HYDG        Units: <none>    Rate: 1.0   Alpha: HYDG        Description: LOW HYDRAULIC PRESSURE GREEN
SMOK        Units: <none>    Rate: 1.0   Alpha: SMOK        Description: SMOKE WARNING
CALT        Units: <none>    Rate: 1.0   Alpha: CALT        Description: CABIN HIGH ALTITUDE
VIB_4       Units: IN/SEC    Rate: 4.0   Alpha: VIB.4       Description: ENGINE VIBRATION 4
PLA_2       Units: DEG       Rate: 4.0   Alpha: PLA.2       Description: POWER LEVER ANGLE 2
PLA_3       Units: DEG       Rate: 4.0   Alpha: PLA.3       Description: POWER LEVER ANGLE 3
PLA_4       Units: DEG       Rate: 4.0   Alpha: PLA.4       Description: POWER LEVER ANGLE 4
GMT_HOUR    Units: Hour      Rate: 2.0   Alpha: GMT.HOUR    Description: GREENWICH MEAN TIME (HOUR)
GMT_MINUTE  Units: Minute    Rate: 2.0   Alpha: GMT.MINUTE  Description: GREENWICH MEAN TIME (MINUTE)
GMT_SEC     Units: Second    Rate: 2.0   Alpha: GMT.SEC     Description: GREENWICH MEAN TIME (SECOND)
ACMT        Units: <none>    Rate: 1.0   Alpha: ACMT        Description: ACMS TIMING USED T1HZ
FQTY_2      Units: LSB       Rate: 1.0   Alpha: FQTY.2      Description: FUEL QUANTITY TANK 2 LSB
OIT_3       Units: DEG       Rate: 1.0   Alpha: OIT.3       Description: OIL TEMPERATURE 3
OIT_4       Units: DEG       Rate: 1.0   Alpha: OIT.4       Description: OIL TEMPERATURE 4
DATE_YEAR   Units: Year      Rate: 0.25  Alpha: DATE.YEAR   Description: Date (Year)
DATE_MONTH  Units: Month     Rate: 0.25  Alpha: DATE.MONTH  Description: Date (Month)
DATE_DAY    Units: Day       Rate: 0.25  Alpha: DATE.DAY    Description: Date (Day)
DVER_1      Units: <none>    Rate: 0.25  Alpha: DVER.1      Description: DATABASE ID VERSION CHAR 1
ACID        Units: <none>    Rate: 0.25  Alpha: ACID        Description: AIRCRAFT NUMBER
BLV         Units: <none>    Rate: 1.0   Alpha: BLV         Description: BLEED AIR ALL VALVES
EAI         Units: <none>    Rate: 1.0   Alpha: EAI         Description: ENGINE ANTICE ALL POSITIONS
PACK        Units: <none>    Rate: 1.0   Alpha: PACK        Description: PACK AIR CONDITIONING ALL
AOAI        Units: DEG       Rate: 4.0   Alpha: AOAI        Description: INDICATED ANGLE OF ATTACK
AOAC        Units: DEG       Rate: 4.0   Alpha: AOAC        Description: CORRECTED ANGLE OF ATTACK
BAL1        Units: FEET      Rate: 4.0   Alpha: BAL1        Description: BARO CORRECT ALTITUDE LSP
APUF        Units: <none>    Rate: 2.0   Alpha: APUF        Description: APU FIRE WARNING
TOCW        Units: <none>    Rate: 2.0   Alpha: TOCW        Description: TAKEOFF CONF WARNING
BAL2        Units: FEET      Rate: 4.0   Alpha: BAL2        Description: BARO CORRECT ALTITUDE LSP
WSHR        Units: <none>    Rate: 1.0   Alpha: WSHR        Description: WINDSHEAR WARNING
WOW         Units: <none>    Rate: 1.0   Alpha: WOW         Description: WEIGHT ON WHEELS
N2_1        Units: %RPM      Rate: 4.0   Alpha: N2.1        Description: CORE SPEED 1 LSP
N2_2        Units: %RPM      Rate: 4.0   Alpha: N2.2        Description: CORE SPEED 2 LSP
N2_3        Units: %RPM      Rate: 4.0   Alpha: N2.3        Description: CORE SPEED 3 LSP
N2_4        Units: %RPM      Rate: 4.0   Alpha: N2.4        Description: CORE SPEED 4 LSP
TAT         Units: DEG       Rate: 1.0   Alpha: TAT         Description: TOTAL AIR TEMPERATURE
SAT         Units: DEG       Rate: 1.0   Alpha: SAT         Description: STATIC AIR TEMPERATURE
N1T         Units: %RPM      Rate: 4.0   Alpha: N1T         Description: N1 TARGET LSP
N1C         Units: %RPM      Rate: 4.0   Alpha: N1C         Description: N1 COMMAND LSP
RUDD        Units: DEG       Rate: 2.0   Alpha: RUDD        Description: RUDDER POSITION
FQTY_3      Units: LSB       Rate: 1.0   Alpha: FQTY.3      Description: FUEL QUANTITY TANK 3 LSB
OIP_1       Units: PSI       Rate: 1.0   Alpha: OIP.1       Description: OIL PRESSURE 1
OIP_2       Units: PSI       Rate: 1.0   Alpha: OIP.2       Description: OIL PRESSURE 2
FQTY_4      Units: LSB       Rate: 1.0   Alpha: FQTY.4      Description: FUEL QUANTITY TANK 4 LSB
CRSS        Units: DEG       Rate: 1.0   Alpha: CRSS        Description: SELECTED COURSE
HDGS        Units: DEG       Rate: 1.0   Alpha: HDGS        Description: SELECTED HEADING
ALTS        Units: FEET      Rate: 1.0   Alpha: ALTS        Description: SELECTED ALTITUDE LSP
SNAP        Units: <none>    Rate: 1.0   Alpha: SNAP        Description: MANUAL SNAPSHOT SWITCH
CASS        Units: KNOTS     Rate: 1.0   Alpha: CASS        Description: SELECTED AIRSPEED
N1CO        Units: <none>    Rate: 1.0   Alpha: N1CO        Description: N1 COMPENSATION
VSPS        Units: FT/MIN    Rate: 1.0   Alpha: VSPS        Description: SELECTED VERTICAL SPEED
MNS         Units: MMACH     Rate: 1.0   Alpha: MNS         Description: SELECTED MACH
MSQT_1      Units: <none>    Rate: 2.0   Alpha: MSQT.1      Description: SQUAT SWITCH LEFT MAIN GEAR
VMODE       Units: <none>    Rate: 1.0   Alpha: VMODE       Description: VERTICAL ENGAGE MODES
LMOD        Units: <none>    Rate: 1.0   Alpha: LMOD        Description: LATERAL ENGAGE MODES
A_T         Units: <none>    Rate: 1.0   Alpha: A/T         Description: THRUST AUTOMATIC ON
CCPC        Units: COUNTS    Rate: 2.0   Alpha: CCPC        Description: CONTROL COLUMN POSITION CAPT
CCPF        Units: COUNTS    Rate: 2.0   Alpha: CCPF        Description: CONTROL COLUMN POSITION F/O
RUDP        Units: COUNTS    Rate: 2.0   Alpha: RUDP        Description: RUDDER PEDAL POSITION
CWPC        Units: COUNTS    Rate: 2.0   Alpha: CWPC        Description: CONTROL WHEEL POSITION CAPT
CWPF        Units: COUNTS    Rate: 2.0   Alpha: CWPF        Description: CONTROL WHEEL POSITION F/O
OIP_3       Units: PSI       Rate: 1.0   Alpha: OIP.3       Description: OIL PRESSURE 3
OIP_4       Units: PSI       Rate: 1.0   Alpha: OIP.4       Description: OIL PRESSURE 4
LOC         Units: DDM       Rate: 1.0   Alpha: LOC         Description: LOCALIZER DEVIATION
GLS         Units: DDM       Rate: 1.0   Alpha: GLS         Description: GLIDESLOPE DEVIATION
LONP        Units: DEG       Rate: 1.0   Alpha: LONP        Description: LONGITUDE POSITION LSP
ABRK        Units: DEG       Rate: 1.0   Alpha: ABRK        Description: AIRBRAKE POSITION
AIL_1       Units: DEG       Rate: 1.0   Alpha: AIL.1       Description: AILERON POSITION LH
AIL_2       Units: DEG       Rate: 1.0   Alpha: AIL.2       Description: AILERON POSITION RH
SPL_1       Units: DEG       Rate: 1.0   Alpha: SPL.1       Description: ROLL SPOILER LEFT
SPL_2       Units: DEG       Rate: 1.0   Alpha: SPL.2       Description: ROLL SPOILER RIGHT
ESN_4       Units: UNITS     Rate: 0.25  Alpha: ESN.4       Description: ENGINE SERIAL NUMBER 4 LSP
ECYC_1      Units: HOURS     Rate: 0.25  Alpha: ECYC.1      Description: ENGINE CYCLE 1 LSP
ECYC_2      Units: HOURS     Rate: 0.25  Alpha: ECYC.2      Description: ENGINE CYCLE 2 LSP
ELEV_1      Units: DEG       Rate: 1.0   Alpha: ELEV.1      Description: ELEVATOR POSITION LEFT
ELEV_2      Units: DEG       Rate: 1.0   Alpha: ELEV.2      Description: ELEVATOR POSITION RIGHT
FLAP        Units: COUNTS    Rate: 1.0   Alpha: FLAP        Description: T.E. FLAP POSITION
PTRM        Units: DEG       Rate: 1.0   Alpha: PTRM        Description: PITCH TRIM POSITION
HF1         Units: <none>    Rate: 1.0   Alpha: HF1         Description: HF KEYING #1
HF2         Units: <none>    Rate: 1.0   Alpha: HF2         Description: HF KEYING #2
SMKB        Units: <none>    Rate: 1.0   Alpha: SMKB        Description: ANIMAL BAY SMOKE
SPLY        Units: <none>    Rate: 1.0   Alpha: SPLY        Description: SPOILER DEPLOY YELLOW
SPLG        Units: <none>    Rate: 1.0   Alpha: SPLG        Description: SPOILER DEPLOY GREEN
FRMC        Units: <none>    Rate: 0.25  Alpha: FRMC        Description: FRAME COUNTER
DVER_2      Units: <none>    Rate: 0.25  Alpha: DVER.2      Description: DATABASE ID VERSION CHAR 2
ESN_3       Units: UNITS     Rate: 0.25  Alpha: ESN.3       Description: ENGINE SERIAL NUMBER 3 LSP
BPGR_1      Units: PSI       Rate: 1.0   Alpha: BPGR.1      Description: BRAKE PRESSURE LH GREEN
BPGR_2      Units: PSI       Rate: 1.0   Alpha: BPGR.2      Description: BRAKE PRESSURE RH GREEN
BPYR_1      Units: PSI       Rate: 1.0   Alpha: BPYR.1      Description: BRAKE PRESSURE LH YELLOW
BPYR_2      Units: PSI       Rate: 1.0   Alpha: BPYR.2      Description: BRAKE PRESSURE RH YELLOW
ECYC_3      Units: HOURS     Rate: 0.25  Alpha: ECYC.3      Description: ENGINE CYCLE 3 LSP
ECYC_4      Units: HOURS     Rate: 0.25  Alpha: ECYC.4      Description: ENGINE CYCLE 4 LSP
EHRS_1      Units: HOURS     Rate: 0.25  Alpha: EHRS.1      Description: ENGINE HOURS 1 LSP
TCAS        Units: <none>    Rate: 1.0   Alpha: TCAS        Description: TCAS LSP
GPWS        Units: <none>    Rate: 1.0   Alpha: GPWS        Description: GPWS 1-5
TMAG        Units: <none>    Rate: 1.0   Alpha: TMAG        Description: TRUE/MAG HEADING SELECT
TAI         Units: <none>    Rate: 1.0   Alpha: TAI         Description: TAIL ANTICE ON
WAI_1       Units: <none>    Rate: 1.0   Alpha: WAI.1       Description: INNER WING DEICE
WAI_2       Units: <none>    Rate: 1.0   Alpha: WAI.2       Description: OUTER WING ANTICE
DWPT        Units: <none>    Rate: 1.0   Alpha: DWPT        Description: DISTANCE TO WAYPOINT LSP
OIPL        Units: <none>    Rate: 1.0   Alpha: OIPL        Description: LOW OIL PRESSURE ALL ENGINES
FADF        Units: <none>    Rate: 1.0   Alpha: FADF        Description: FADEC FAIL ALL ENGINES
FADS        Units: <none>    Rate: 1.0   Alpha: FADS        Description: FADEC STATUS ALL ENGINES
EHRS_4      Units: HOURS     Rate: 0.25  Alpha: EHRS.4      Description: ENGINE HOURS 4 LSP
EHRS_3      Units: HOURS     Rate: 0.25  Alpha: EHRS.3      Description: ENGINE HOURS 3 LSP
EHRS_2      Units: HOURS     Rate: 0.25  Alpha: EHRS.2      Description: ENGINE HOURS 2 LSP
TMODE       Units: <none>    Rate: 1.0   Alpha: TMODE       Description: THRUST MODE
ATEN        Units: <none>    Rate: 1.0   Alpha: ATEN        Description: A/T ENGAGE STATUS
LATP        Units: DEG       Rate: 1.0   Alpha: LATP        Description: LATITUDE POSITION LSP
FIRE_1      Units: <none>    Rate: 1.0   Alpha: FIRE.1      Description: ENGINE FIRE #1
FIRE_2      Units: <none>    Rate: 1.0   Alpha: FIRE.2      Description: ENGINE FIRE #2
FIRE_3      Units: <none>    Rate: 1.0   Alpha: FIRE.3      Description: ENGINE FIRE #3
FIRE_4      Units: <none>    Rate: 1.0   Alpha: FIRE.4      Description: ENGINE FIRE #4
FGC3        Units: <none>    Rate: 1.0   Alpha: FGC3        Description: DFGS STATUS 3
ILSF        Units: <none>    Rate: 1.0   Alpha: ILSF        Description: ILS FREQUENCY LSP
ESN_1       Units: UNITS     Rate: 0.25  Alpha: ESN.1       Description: ENGINE SERIAL NUMBER 1 LSP
ESN_2       Units: UNITS     Rate: 0.25  Alpha: ESN.2       Description: ENGINE SERIAL NUMBER 2 LSP

In [14]:
len(metadata[file])

188

### Writing metadata to a JSON file

In [18]:
import json
with open((f'{file}.json'), 'w') as f:
    json.dump(metadata, f, ensure_ascii=False, indent=4)

## Function

In [19]:
def mat_2_df(mdata, param, samplesize):
    '''This NASA matlab data is a dictionary of arrays of objects and this function
    takes in a single dictionary word and parses the data into a pandas dataframe
    '''
    #create an array filled with NaNs so we don't fill in data with bad data yet.
    d = np.empty(samplesize).reshape(-1,1)
    d[:] = np.NaN
    rate = mdata[param]['Rate'][0,0][0,0]
    i = int(16/rate)
    d[::i] = mdata[param]['data'][0,0].reshape(-1,1)

    return d

## Figuring out the data rates compared to the GMT hour:minute:seconds

In [20]:
hour   = data1['GMT_HOUR']['data'][0,0].reshape(-1,1).astype(int)
minute = data1['GMT_MINUTE']['data'][0,0].reshape(-1,1).astype(int)
second = data1['GMT_SEC']['data'][0,0].reshape(-1,1).astype(int)

#set t array as large as 16hz signal as NaNs then add actual time in GMT
GMT = np.array(hour*3600 + minute*60 + second)

clockstart = (f'{hour[0,0]}:{minute[0,0]}:{second[0,0]}')
clockstop  = (f'{hour[-1,0]}:{minute[-1,0]}:{second[-1,0]}')
clocktime  = [(f'{hour[i,0]}:{minute[i,0]}:{second[i,0]}') for i in range(hour.shape[0])]

starttime = GMT[1,0] - 0.5
stoptime  = GMT[-1,0] + 4*0.5
diff = stoptime - starttime

aoa1_rate = data1['AOA1']['Rate'][0,0][0,0]
aoa1_data_size = data1['AOA1']['data'][0][0].shape[0] 

gmt_sec_rate = data1['GMT_SEC']['Rate'][0,0][0,0]

timesamples = hour.shape[0]

print(f'Starting time of file: {clockstart}, {starttime} seconds')
print(f'Ending time of file: {clockstop}, {stoptime} seconds')
print(f'AOA1 rate: {aoa1_rate}')
print(f'GMT_sec rate: {gmt_sec_rate}')
print(f'diff {diff}')
print(f'AOA1 sample size {aoa1_data_size:,}')
print(f'time sample size {timesamples:,}')
print(f'AOA1 calculated rate (samples/sec) {aoa1_data_size/diff} Hz')
print(f'rate (AOA1 samples/time samples) {aoa1_data_size/(timesamples)}')

Starting time of file: 0:0:0, -0.5 seconds
Ending time of file: 0:0:0, 2.0 seconds
AOA1 rate: 4
GMT_sec rate: 2
diff 2.5
AOA1 sample size 2,752
time sample size 1,376
AOA1 calculated rate (samples/sec) 1100.8 Hz
rate (AOA1 samples/time samples) 2.0

## Creating the full dataframe

In [22]:
hour   = data1['GMT_HOUR']['data'][0,0].reshape(-1,1).astype(int)
minute = data1['GMT_MINUTE']['data'][0,0].reshape(-1,1).astype(int)
second = data1['GMT_SEC']['data'][0,0].reshape(-1,1).astype(int)

#set t array as large as 16hz signal as NaNs then add actual time in GMT
GMT = np.array(hour*3600 + minute*60 + second)

#matches the fastest 16 Hz (adding an extra amount above 16Hz found in the data
t_delta = 0.0625 + 0.5/549/16#seconds. 

samplesize_16hz = data1['FPAC']['data'][0,0].shape[0]

#the first GMTsecs
t0 = GMT[0]

#find the first time GMTsecs transitions to a new time, this is reliable GMT
#it normally stays the same time for 6 seconds.
i = min([i for i in range(12) if not t0 == GMT[i]])

#GMTsecs is 2 Hz or 0.5 seconds
timeoffset = 0.5*i

#offset from the first reliable GMT
starttime = GMT[i,0] - timeoffset 

stoptime = starttime + t_delta*(samplesize_16hz-1) 

#create a 16 Hz time column to line everything up and make it a pandas dataframe
t16hz = np.linspace(starttime, stoptime, samplesize_16hz)
df1 = pd.DataFrame(data={'time':t16hz})

#adding GMT in seconds
t = np.empty(samplesize_16hz).reshape(-1,1)
t[:] = np.NaN
t[::8] = GMT #every eighth element
df1['GMTsecs'] = t

#looping through all of the keys and creating a full Pandas DataFrame
for k in data1.keys():
    #don't print the first "__xxxx__" parameters
    if type(data1[k]) == np.ndarray:
       
        df1[k] = mat_2_df(data1, k, samplesize_16hz)


#removing the first set of unreliable GMT data so it starts cleanly
df1 = df1[i*8:-1]
df1.reset_index(inplace=True)
df1.pop('index')

#writing to a parquet file
df1.to_parquet(path=(f'{file}.parquet'), compression='gzip')

df1

ValueError: min() arg is an empty sequence

## Inconsistent GMT seconds


### some of these GMT samples only have 11 samples instead of 12 like they should.  not sure why?
For instance 43410 GMT is the first one to have 11 samples instead of 12.
This made 43415.5 16hz time match up with 43416 GMT<br>
If all other signals line up with the GMT secs then I should modify the 8 NaNs on all other signals to make the 
GMT signal (43416) line up with the 16hz 43416 time stamp

## solved by adding 0.5/549/16 seconds to each 16Hz signal.  
As seen below, if you round the 16Hz signal to nearest int when comparing GMTsecs and 16Hz they will align 
properly

In [1]:
1/16

0.0625

In [364]:
#checking to ensure the times are lining up.
df1 = pd.read_parquet(f'{file}.parquet')
istart = 0
istop = -1
newsamplesize_16hz = df1.shape[0]

#find the first non-NaN number in GMTsecs
t0 = [df1["GMTsecs"][i] for i in range(istart,istart+8) if not np.isnan(df1["GMTsecs"][i])][0]

mismatch = False

for i in range(newsamplesize_16hz):
    gmtsecs = df1["GMTsecs"][i]
    hz16 = df1["time"][i]
    hzorig = hz16 
    
    #compare to previous GMTsecs to see when it changes and if it matches up
    # with the 16Hz signal time when it does change
    if not np.isnan(gmtsecs) and not t0 == gmtsecs:
        #compare integer values
        hz16 = round(hz16,0)
        gmtsecs = round(gmtsecs,0)
        t0 = gmtsecs
        if not gmtsecs == hz16:
            print(f'gmtsecs={gmtsecs}, 16Hz = {hz16}, 16Hzorig={round(hzorig,0)}')
            mismatch = True
        
if not mismatch: print('No mismatches!')

No mismatches!

In [194]:
nanline = pd.DataFrame({"VAR_1107": np.nan},index=[0])
nanline
nanline["VAR_2670"] = 3
nanline.index = [1]
nanline

   VAR_1107  VAR_2670
1       NaN         3

In [196]:
nanline = [np.nan for k in data1.keys() if type(data1[k] == np.ndarray)]
#for k in data1.keys():
#    #don't print the first "__xxxx__" parameters
#    if type(data1[k]) == np.ndarray:
#       
#        nanline[k] = np.nan
nanline

,VAR_1107,VAR_2670,VAR_5107,VAR_6670,FPAC,BLAC,CTAC,TH,MH,EGT_1,...,ATEN,LATP,FIRE_1,FIRE_2,FIRE_3,FIRE_4,FGC3,ILSF,ESN_1,ESN_2
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [161]:
istart = 5660
#t0 = [df1["GMTsecs"][i] for i in range(istart,istart+8) if np.isreal(df1["GMTsecs"][i]) ]
t0 = [df1["GMTsecs"][i] for i in range(istart,istart+8) if not np.isnan(df1["GMTsecs"][i])][0]

t0

43404.0

In [151]:
np.isnan(t0[0])

True

## Each file represents a single flight

checking to see if each successive file is ordered in time.
  It is, but I found a few that had mislabeled names for their time.

In [33]:
from datetime import timedelta
data0 = loadmat('Tail_687_1/687200103200323.mat')
data01 = loadmat('Tail_687_1/687200103200350.mat')

In [41]:
#first file in Tail 687_1
hour   = data0['GMT_HOUR'][0][0][0][:]
minute = data0['GMT_MINUTE'][0][0][0][:]
second = data0['GMT_SEC'][0][0][0][:]
year   = data0['DATE_YEAR'][0][0][0][:]
month  = data0['DATE_MONTH'][0][0][0][:]
day    = data0['DATE_DAY'][0][0][0][:]
h0s = hour[0][0].astype(float)
m0s = minute[0][0].astype(float)
s0s = second[0][0].astype(float)
h0e = hour[-1][0].astype(float)
m0e = minute[-1][0].astype(float)
s0e = second[-1][0].astype(float)
starttime = timedelta(hours=h0s, minutes=m0s, seconds=s0s)
stoptime = timedelta(hours=h0e, minutes=m0e, seconds=s0e)
#print(f'First file:{year[0,0]}:{month[0,0]}:{day[0,0]} Start: {starttime}, Stop {stoptime}')
print(f'First file:{year[0,0]}:{month[0,0]}:{day[0,0]} Start: {h0s}:{m0s}:{s0s}, Stop {h0e}:{m0e}:{s0e}')

#second file in Tail 687_1
hour   = data01['GMT_HOUR'][0][0][0][:]
minute = data01['GMT_MINUTE'][0][0][0][:]
second = data01['GMT_SEC'][0][0][0][:]
year   = data01['DATE_YEAR'][0][0][0][:]
month  = data01['DATE_MONTH'][0][0][0][:]
day    = data01['DATE_DAY'][0][0][0][:]
h01s = hour[0][0].astype(float)
m01s = minute[0][0].astype(float)
s01s = second[0][0].astype(float)
h01e = hour[-1][0].astype(float)
m01e = minute[-1][0].astype(float)
s01e = second[-1][0].astype(float)
starttime = timedelta(hours=h01s, minutes=m01s, seconds=s01s)
stoptime = timedelta(hours=h01e, minutes=m01e, seconds=s01e)

print(f'Second file:{year[0,0]}:{month[0,0]}:{day[0,0]} Start: {h01s}:{m01s}:{s01s}, Stop {h01e}:{m01e}:{s01e}')
#print(f'Second file:{year[0,0]}:{month[0,0]}:{day[0,0]} Start: {starttime}, Stop {stoptime}')

First file:2165:25:45 Start: 45.0:165.0:90.0, Stop 45.0:165.0:90.0
Second file:2165:25:45 Start: 45.0:165.0:90.0, Stop 45.0:165.0:90.0

In [42]:
np.unique(year)

array([2165], dtype=uint16)

In [54]:
df2 = pd.read_parquet(path='Tail_687_1_687200104111158.parquet')
df2

,time,GMTsecs,VAR_1107,VAR_2670,VAR_5107,VAR_6670,FPAC,BLAC,CTAC,TH,...,ATEN,LATP,FIRE_1,FIRE_2,FIRE_3,FIRE_4,FGC3,ILSF,ESN_1,ESN_2
0,43055.5000,43050.0,584.0,1465.0,2632.0,3513.0,0.000000,-0.007816,0.000000,-148.206635,...,0.0,44.880527,0.0,0.0,0.0,0.0,120.0,100.0,8007.0,7958.0
1,43055.5625,NaN,NaN,NaN,NaN,NaN,0.000000,-0.010747,0.000000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,43055.6250,NaN,NaN,NaN,NaN,NaN,0.000000,-0.007816,0.000000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,43055.6875,NaN,NaN,NaN,NaN,NaN,0.000000,-0.006839,0.000000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,43055.7500,NaN,NaN,NaN,NaN,NaN,0.000000,-0.009770,0.000000,-148.173676,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
125307,50887.1875,NaN,NaN,NaN,NaN,NaN,0.000000,-0.006839,0.000000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
125308,50887.2500,NaN,NaN,NaN,NaN,NaN,0.000000,-0.007816,0.000000,134.529068,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
125309,50887.3125,NaN,NaN,NaN,NaN,NaN,0.000000,-0.005862,0.000000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
125310,50887.3750,NaN,NaN,NaN,NaN,NaN,0.000000,-0.005862,-0.000977,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
125311,50887.4375,NaN,NaN,NaN,NaN,NaN,-0.000977,-0.006839,-0.000977,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Plotting elevation values

In [1]:

alt = data1['ALT']['data'][0,0].reshape(1,-1)[0]
altr = data1['ALTR']['data'][0,0].reshape(1,-1)[0]
ralt = data1['RALT']['data'][0,0].reshape(1,-1)[0]
#calt = data1['CALT']['data'][0,0].reshape(1,-1)[0]

nsamples = data1['ALT']['data'][0,0].shape[0]
rsamples = data1['RALT']['data'][0,0].shape[0]

xs = np.linspace(1,nsamples,nsamples)

xr = np.linspace(1,nsamples,rsamples)

#alt = alt.astype(np.int)
#alt, x


#alt = data1['ALT']['data'][0,0]

fig1 = plt.figure(figsize=(20, 15))


plt.plot(xs, alt, 'r-', label='alt')
plt.plot(xs, altr, 'b-', label='altr')
plt.plot(xr, ralt, 'g-', label='altr')
#ax=plt.subplot(aspect='equal')



plt.ylabel('y')
plt.xlabel('x')
ax.set_title('Elevation')
plt.label()
#plt.grid(b=True, which='minor', color='#999999', linestyle='-', alpha=0.2)


#plt.xlim([xmin, xmax])
#plt.ylim([ymin, ymax])

NameError: name 'data1' is not defined

---

In [53]:
ralt = data.get('RALT')
print(f'RALT min/max: {min(ralt[0][0][0])[0]}/{max(ralt[0][0][0])[0]:,}')
print(f'Number of RALT samples: {ralt[0][0][0].shape[0]:,}')

calt = data.get('CALT')
print(f'CALT min/max: {min(calt[0][0][0])[0]}/{max(calt[0][0][0])[0]:,}')
print(f'Number of CALT samples: {calt[0][0][0].shape[0]:,}')

altr = data.get('ALTR')
print(f'ALTR min/max: {min(altr[0][0][0])[0]:,}/{max(altr[0][0][0])[0]:,}')
print(f'Number of ALTR samples: {altr[0][0][0].shape[0]:,}')

alts = data.get('ALTS')
print(f'ALTS min/max: {min(alts[0][0][0])[0]:,}/{max(alts[0][0][0])[0]:,}')
print(f'Number of ALTS samples: {alts[0][0][0].shape[0]:,}')

alt = data.get('ALT')
print(f'ALT min/max: {min(alt[0][0][0])[0]}/{max(alt[0][0][0])[0]:,}')
print(f'Number of ALT samples: {alt[0][0][0].shape[0]:,}')

RALT min/max: -3.625/5,500.0
Number of RALT samples: 52,992
CALT min/max: 0/0
Number of CALT samples: 6,624
ALTR min/max: -3,632/3,968
Number of ALTR samples: 26,496
ALTS min/max: 3,500/33,100
Number of ALTS samples: 6,624
ALT min/max: 470/33,025
Number of ALT samples: 26,496

In [538]:
print(f'samples of MACH: {np.size(data1.get("MACH")[0][0][0]):,}')
print(f'rate of MACH: {np.size(data1["MACH"]["Rate"][0, 0][0])}')

samples of MACH: 31,328
rate of MACH: 1

### APFD is Auto Pilot Flight Director Status and is "probably" 0 when it's on the ground

In [47]:
np.unique(data1['APFD']['data'][0,0][:,0])

array([0, 1, 2], dtype=uint8)

#### Velocity shows that it's on the ground

In [44]:
max(data1['MACH']['data'][0,0][:,0])

0.73124098777771

---

---

In [52]:
data = loadmat('Tail_687_1/687200109140804.mat')
type(data)

dict

### APFD shows that this is not on the ground the whole time and has a bit of all states in this file

In [48]:
np.unique(data.get('APFD')[0][0][0])

array([0, 1, 2], dtype=uint8)

#### Velocity shows that it's NOT on the ground

In [47]:
max(data.get('MACH')[0][0][0])

array([0.73243797])

Listing all of the available keys in the dictionary

In [49]:
data.keys()

dict_keys(['__header__', '__version__', '__globals__', 'VAR_1107', 'VAR_2670', 'VAR_5107', 'VAR_6670', 'FPAC', 'BLAC', 'CTAC', 'TH', 'MH', 'EGT_1', 'EGT_2', 'EGT_3', 'EGT_4', 'IVV', 'GS', 'TRK', 'TRKM', 'DA', 'POVT', 'WS', 'MW', 'DFGS', 'WD', 'ALT', 'NSQT', 'RALT', 'ALTR', 'FQTY_1', 'OIT_1', 'OIT_2', 'AOA1', 'AOA2', 'PTCH', 'FF_1', 'PSA', 'FF_2', 'FF_3', 'ROLL', 'FF_4', 'N1_1', 'N1_2', 'MACH', 'CAS', 'APFD', 'PH', 'CASM', 'TAS', 'VRTG', 'LATG', 'PI', 'PS', 'N1_3', 'EVNT', 'MRK', 'VIB_1', 'PT', 'VHF1', 'VHF2', 'LGDN', 'LGUP', 'VIB_2', 'VHF3', 'PUSH', 'SHKR', 'MSQT_2', 'VIB_3', 'LONG', 'PLA_1', 'N1_4', 'HYDY', 'HYDG', 'SMOK', 'CALT', 'VIB_4', 'PLA_2', 'PLA_3', 'PLA_4', 'GMT_HOUR', 'GMT_MINUTE', 'GMT_SEC', 'ACMT', 'FQTY_2', 'OIT_3', 'OIT_4', 'DATE_YEAR', 'DATE_MONTH', 'DATE_DAY', 'DVER_1', 'ACID', 'BLV', 'EAI', 'PACK', 'AOAI', 'AOAC', 'BAL1', 'APUF', 'TOCW', 'BAL2', 'WSHR', 'WOW', 'N2_1', 'N2_2', 'N2_3', 'N2_4', 'TAT', 'SAT', 'N1T', 'N1C', 'RUDD', 'FQTY_3', 'OIP_1', 'OIP_2', 'FQTY_4', 'CRSS', 'HDGS', 'ALTS', 'SNAP', 'CASS', 'N1CO', 'VSPS', 'MNS', 'MSQT_1', 'VMODE', 'LMOD', 'A_T', 'CCPC', 'CCPF', 'RUDP', 'CWPC', 'CWPF', 'OIP_3', 'OIP_4', 'LOC', 'GLS', 'LONP', 'ABRK', 'AIL_1', 'AIL_2', 'SPL_1', 'SPL_2', 'ESN_4', 'ECYC_1', 'ECYC_2', 'ELEV_1', 'ELEV_2', 'FLAP', 'PTRM', 'HF1', 'HF2', 'SMKB', 'SPLY', 'SPLG', 'FRMC', 'DVER_2', 'ESN_3', 'BPGR_1', 'BPGR_2', 'BPYR_1', 'BPYR_2', 'ECYC_3', 'ECYC_4', 'EHRS_1', 'TCAS', 'GPWS', 'TMAG', 'TAI', 'WAI_1', 'WAI_2', 'DWPT', 'OIPL', 'FADF', 'FADS', 'EHRS_4', 'EHRS_3', 'EHRS_2', 'TMODE', 'ATEN', 'LATP', 'FIRE_1', 'FIRE_2', 'FIRE_3', 'FIRE_4', 'FGC3', 'ILSF', 'ESN_1', 'ESN_2'])

#### Not sure what some of these values are so i'm printing them here

## Disecting a single name in the dictionary that includes data and metadata

In [331]:

mdata = data['AOA1']
mdtype = mdata.dtype #objects in mat file

print(f'Data names in AOA1: {mdtype.names}')

ndata = {n: mdata[n][0, 0] for n in mdtype.names}


#[print(f'A0A1 {r}: {ndata[r]}') for r in mdtype.names]

aoa_data =        ndata['data'].reshape(1,-1)[0]
aoa_rate =        ndata["Rate"][0][0]
aoa_units =       ndata["Units"][0]
aoa_description = ndata["Description"][0]
aoa_alpha =       ndata["Alpha"][0]

aoa_samples = data["AOA1"][0][0][0].shape[0]

print(f'Number of AOA1 samples in dataset = {aoa_samples:,}')
print(f'A0A1 data: {aoa_data}')
print(f'A0A1 Rate: {aoa_rate}')
print(f'A0A1 Units: {aoa_units}')
print(f'A0A1 Description: {aoa_description}')
print(f'A0A1 Alpha: {aoa_alpha}')


d = {'AOA1': aoa_data}
df = pd.DataFrame(data=d)
print(f'\nPandas DataFrame:\n{df}');
#dft = pd.DataFrame.from_dict(ndata)

Data names in AOA1: ('data', 'Rate', 'Units', 'Description', 'Alpha')
Number of AOA1 samples in dataset = 26,496
A0A1 data: [-4.1747733  -4.1747733  -4.21871861 ... -3.60349187 -3.55954656
 -3.55954656]
A0A1 Rate: 4
A0A1 Units: DEG
A0A1 Description: ANGLE OF ATTACK 1
A0A1 Alpha: AOA1

Pandas DataFrame:
           AOA1
0     -4.174773
1     -4.174773
2     -4.218719
3     -4.174773
4     -4.218719
...         ...
26491 -3.603492
26492 -3.603492
26493 -3.603492
26494 -3.559547
26495 -3.559547

[26496 rows x 1 columns]

In [ ]:
data['RALT']['Units'][0, 0][0]

In [316]:
52992/2

26496.0

####  Angles of Attack

In [ ]:
aoa1 = data.get('AOA1')[0][0][0][:]
print(f'AOA1 min/max: {min(aoa1)[0]:.2f}/{max(aoa1)[0]:.2f}')
aoa2 = data.get('AOA2')[0][0][0][:]
print(f'AOA2 min/max: {min(aoa2)[0]:.2f}/{max(aoa2)[0]:.2f}')
pitch = data.get('PTCH')[0][0][0][:]
print(f'PTCH min/max: {min(pitch)[0]:.2f}/{max(pitch)[0]:.2f}')
aoaI = data.get('AOAI')[0][0][0][:]
print(f'AOAI min/max: {min(aoaI)[0]:.2f}/{max(aoaI)[0]:.2f}')
aoaC = data.get('AOAC')[0][0][0][:]
print(f'AOAC min/max: {min(aoaC)[0]:.2f}/{max(aoaC)[0]:.2f}')

In [ ]:
roll = data.get('ROLL')[0][0][0][:]
print(f'ROLL min/max: {min(roll)[0]:.2f}/{max(roll)[0]:.2f}')

#### Other Data contained within the Matlab dictionaries
I'm not sure what this extra data means, but the first 2 array indicies of each of these dictionary values are
empty.  This may be a good chance to rewrite them as panda parquet files.

In [79]:
otherdata1 = data.get('AOA1')[0][0][1][:]
otherdata2 = data.get('AOA2')[0][0][1][:]
otherdata3 = data.get('PTCH')[0][0][1][:]
otherdata4 = data.get('AOAI')[0][0][1][:]
otherdata5 = data.get('AOAC')[0][0][1][:]
print(f'otherdata1={otherdata1}')
print(f'otherdata2={otherdata2}')
print(f'otherdata3={otherdata3}')
print(f'otherdata4={otherdata4}')
print(f'otherdata5={otherdata5}')

otherdata1=[[4]]
otherdata2=[[4]]
otherdata3=[[8]]
otherdata4=[[4]]
otherdata5=[[4]]

## Comparing different Altitude measurements

In [53]:
ralt = data.get('RALT')
print(f'RALT min/max: {min(ralt[0][0][0])[0]}/{max(ralt[0][0][0])[0]:,}')
print(f'Number of RALT samples: {ralt[0][0][0].shape[0]:,}')

calt = data.get('CALT')
print(f'CALT min/max: {min(calt[0][0][0])[0]}/{max(calt[0][0][0])[0]:,}')
print(f'Number of CALT samples: {calt[0][0][0].shape[0]:,}')

altr = data.get('ALTR')
print(f'ALTR min/max: {min(altr[0][0][0])[0]:,}/{max(altr[0][0][0])[0]:,}')
print(f'Number of ALTR samples: {altr[0][0][0].shape[0]:,}')

alts = data.get('ALTS')
print(f'ALTS min/max: {min(alts[0][0][0])[0]:,}/{max(alts[0][0][0])[0]:,}')
print(f'Number of ALTS samples: {alts[0][0][0].shape[0]:,}')

alt = data.get('ALT')
print(f'ALT min/max: {min(alt[0][0][0])[0]}/{max(alt[0][0][0])[0]:,}')
print(f'Number of ALT samples: {alt[0][0][0].shape[0]:,}')

RALT min/max: -3.625/5,500.0
Number of RALT samples: 52,992
CALT min/max: 0/0
Number of CALT samples: 6,624
ALTR min/max: -3,632/3,968
Number of ALTR samples: 26,496
ALTS min/max: 3,500/33,100
Number of ALTS samples: 6,624
ALT min/max: 470/33,025
Number of ALT samples: 26,496

The Day, Month, Year look reasonable.

In [259]:
year  = data.get('DATE_YEAR')[0][0][0][:]
month = data.get('DATE_MONTH')[0][0][0][:]
day   = data.get('DATE_DAY')[0][0][0][:]

print(f'Unique values of Date_Year:  {np.unique(year)[0]}')
print(f'Unique values of Date_Month: {np.unique(month)[0]}')
print(f'Unique values of Date_Day:   {np.unique(day)[0]}')

Unique values of Date_Year:  2001
Unique values of Date_Month: 9
Unique values of Date_Day:   14

#### It looks like GMT time does not change in this data

So far this GMT time does not make sense to me.

In [245]:
hour   = data.get('GMT_HOUR')[0][0][0][:]
minute = data.get('GMT_MINUTE')[0][0][0][:]
second = data.get('GMT_SEC')[0][0][0][:]

#figuring out what the "rate" means
h1 = hour[0][0]
m1 = minute[0][0]
s1 = second[0][0]

hour[-1][0]

#print(f'Unique values of GMT Hour:   {np.unique(hour)}')
#print(f'Unique values of GMT Minute: {np.unique(minute)}')
#print(f'Unique values of GMT Second: {np.unique(second)}')

45

---

In [109]:
from datetime import timedelta, date

d645 = loadmat('Tail_687_1/687200109140645.mat')
hour   = d645['GMT_HOUR'][0][0][0][:]
minute = d645['GMT_MINUTE'][0][0][0][:]
second = d645['GMT_SEC'][0][0][0][:]
year   = d645['DATE_YEAR'][0][0][0][:]
month  = d645['DATE_MONTH'][0][0][0][:]
day    = d645['DATE_DAY'][0][0][0][:]

#figuring out what the "rate" means
h1 = hour[0][0].astype(float)
m1 = minute[0][0].astype(float)
s1 = second[0][0].astype(float)

starttime = timedelta(hours=h1, minutes=m1, seconds=s1)

he = hour[-1][0].astype(float)
me = minute[-1][0].astype(float)
se = second[-1][0].astype(float)

stoptime = timedelta(hours=he, minutes=me, seconds=se)

timesamples = second.shape[0]


diff = stoptime - starttime 

aoa1_rate = d645['AOA1']['Rate'][0][0][0][0]
aoa1_data_size = d645['AOA1']['data'][0][0].shape[0]




print(f'Date:  {np.unique(year)[0]}')
print(f'Starting time of file: {starttime}')
print(f'Ending time of file: {stoptime}')
print(f'AOA1 rate: {aoa1_rate}')
print(f'AOA1 calc rate (samples/sec) {aoa1_data_size/diff.total_seconds()}')
print(f'diff (secs) {diff.total_seconds():,}')
print(f'AOA1 sample size {aoa1_data_size:,}')
print(f'time sample size {timesamples:,}')
print(f'rate ratio (AOA1 samples/time samples) {aoa1_data_size/(timesamples)}')


date(np.unique(year)[0], np.unique(month)[0], np.unique(day)[0])

Date:  2001
Starting time of file: 6:44:36
Ending time of file: 7:42:18
AOA1 rate: 4
AOA1 calc rate (samples/sec) 3.9976891969959563
diff (secs) 3,462.0
AOA1 sample size 13,840
time sample size 6,920
rate ratio (AOA1 samples/time samples) 2.0

datetime.date(2001, 9, 14)

In [112]:
stoptime.seconds - starttime.seconds

3462

In [116]:
starttime.total_seconds()
#starttime.seconds

24276.0

---

In [130]:
data350 = loadmat('Tail_687_1/687200103200350.mat')
print(f'type of data350: {type(data350)}\n')
print(f'keys of data350: {(data350.keys())}\n')

type of data350: <class 'dict'>

keys of data350: dict_keys(['__header__', '__version__', '__globals__', 'VAR_1107', 'VAR_2670', 'VAR_5107', 'VAR_6670', 'FPAC', 'BLAC', 'CTAC', 'TH', 'MH', 'EGT_1', 'EGT_2', 'EGT_3', 'EGT_4', 'IVV', 'GS', 'TRK', 'TRKM', 'DA', 'POVT', 'WS', 'MW', 'DFGS', 'WD', 'ALT', 'NSQT', 'RALT', 'ALTR', 'FQTY_1', 'OIT_1', 'OIT_2', 'AOA1', 'AOA2', 'PTCH', 'FF_1', 'PSA', 'FF_2', 'FF_3', 'ROLL', 'FF_4', 'N1_1', 'N1_2', 'MACH', 'CAS', 'APFD', 'PH', 'CASM', 'TAS', 'VRTG', 'LATG', 'PI', 'PS', 'N1_3', 'EVNT', 'MRK', 'VIB_1', 'PT', 'VHF1', 'VHF2', 'LGDN', 'LGUP', 'VIB_2', 'VHF3', 'PUSH', 'SHKR', 'MSQT_2', 'VIB_3', 'LONG', 'PLA_1', 'N1_4', 'HYDY', 'HYDG', 'SMOK', 'CALT', 'VIB_4', 'PLA_2', 'PLA_3', 'PLA_4', 'GMT_HOUR', 'GMT_MINUTE', 'GMT_SEC', 'ACMT', 'FQTY_2', 'OIT_3', 'OIT_4', 'DATE_YEAR', 'DATE_MONTH', 'DATE_DAY', 'DVER_1', 'ACID', 'BLV', 'EAI', 'PACK', 'AOAI', 'AOAC', 'BAL1', 'APUF', 'TOCW', 'BAL2', 'WSHR', 'WOW', 'N2_1', 'N2_2', 'N2_3', 'N2_4', 'TAT', 'SAT', 'N1T', 'N1C', 'RUDD', 'FQTY_3', 'OIP_1', 'OIP_2', 'FQTY_4', 'CRSS', 'HDGS', 'ALTS', 'SNAP', 'CASS', 'N1CO', 'VSPS', 'MNS', 'MSQT_1', 'VMODE', 'LMOD', 'A_T', 'CCPC', 'CCPF', 'RUDP', 'CWPC', 'CWPF', 'OIP_3', 'OIP_4', 'LOC', 'GLS', 'LONP', 'ABRK', 'AIL_1', 'AIL_2', 'SPL_1', 'SPL_2', 'ESN_4', 'ECYC_1', 'ECYC_2', 'ELEV_1', 'ELEV_2', 'FLAP', 'PTRM', 'HF1', 'HF2', 'SMKB', 'SPLY', 'SPLG', 'FRMC', 'DVER_2', 'ESN_3', 'BPGR_1', 'BPGR_2', 'BPYR_1', 'BPYR_2', 'ECYC_3', 'ECYC_4', 'EHRS_1', 'TCAS', 'GPWS', 'TMAG', 'TAI', 'WAI_1', 'WAI_2', 'DWPT', 'OIPL', 'FADF', 'FADS', 'EHRS_4', 'EHRS_3', 'EHRS_2', 'TMODE', 'ATEN', 'LATP', 'FIRE_1', 'FIRE_2', 'FIRE_3', 'FIRE_4', 'FGC3', 'ILSF', 'ESN_1', 'ESN_2'])

#### Not sure what some of these values are so i'm printing them here

In [109]:
header = data350.get('__header__')
version = data350.get('__version__')
gs = data350.get('__globals__')
print(f'header = :{header}')
print(f'version = :{version}')
print(f'globals = :{gs}')

header = :b'MATLAB 5.0 MAT-file, Platform: GLNXA64, Created on: Tue Jan 28 11:43:13 2014'
version = :1.0
globals = :[]

#### Different Angles of Attack

In [110]:
aoa1 = np.unique(data350.get('AOA1')[0][0][0][:])
print(f'Unique AOA1: {aoa1}')
aoa2 = np.unique(data350.get('AOA2')[0][0][0][:])
print(f'Unique AOA2: {aoa1}')
pitch = np.unique(data350.get('PTCH')[0][0][0][:])
print(f'Unique PTCH: {aoa1}')
aoaI = np.unique(data350.get('AOAI')[0][0][0][:])
print(f'Unique AOAI: {aoaI}')
aoaC = np.unique(data350.get('AOAC')[0][0][0][:])
print(f'Unique AOAC: {aoaC}')

Unique AOA1: [-3.64743718 -3.60349187 -3.55954656 -3.51560124 -3.47165593 -3.42771062
 -3.38376531]
Unique AOA2: [-3.64743718 -3.60349187 -3.55954656 -3.51560124 -3.47165593 -3.42771062
 -3.38376531]
Unique PTCH: [-3.64743718 -3.60349187 -3.55954656 -3.51560124 -3.47165593 -3.42771062
 -3.38376531]
Unique AOAI: [-1.53807744 -1.49413213 -1.45018681 -1.4062415  -1.36229619 -1.31835088
 -1.27440556 -1.23046025 -1.18651494 -1.14256963 -1.09862431 -1.054679
 -1.01073369 -0.96678838 -0.92284306 -0.87889775 -0.83495244 -0.79100713
 -0.74706181 -0.7031165  -0.65917119 -0.61522588 -0.57128056 -0.52734288
 -0.48339757 -0.43945226 -0.39550694 -0.35156163 -0.30761632 -0.26367101]
Unique AOAC: [0]

### These two files appear to be "created" only 3 seconds apart
However, I can't seem to find a good timestamp in this dictionary yet to determine if this is matlab timestamp
or a recording timestamp

The year, month and days do not make sense

In [111]:
year  = data350.get('DATE_YEAR')[0][0][0][:]
month = data350.get('DATE_MONTH')[0][0][0][:]
day   = data350.get('DATE_DAY')[0][0][0][:]

print(f'Unique values of Date_Year:  {np.unique(year)}')
print(f'Unique values of Date_Month: {np.unique(month)}')
print(f'Unique values of Date_Day:   {np.unique(day)}')

Unique values of Date_Year:  [2165]
Unique values of Date_Month: [25]
Unique values of Date_Day:   [45]

#### It looks like GMT time does not change in this data when the plane is on the ground

GMT time is set to these values when plane is on the ground

In [112]:
hour   = data350.get('GMT_HOUR')[0][0][0][:]
minute = data350.get('GMT_MINUTE')[0][0][0][:]
second = data350.get('GMT_SEC')[0][0][0][:]

print(f'Unique values of GMT Hour:   {np.unique(hour)[0]}')
print(f'Unique values of GMT Minute: {np.unique(minute)[0]}')
print(f'Unique values of GMT Second: {np.unique(second)[0]}')

Unique values of GMT Hour:   45
Unique values of GMT Minute: 165
Unique values of GMT Second: 90

Trying to figure out if this is EGI time

In [201]:
egt1   = data350['EGT_1'][0][0][0][:]
egt2   = data350['EGT_2'][0][0][0][:]
egt3   = data350['EGT_3'][0][0][0][:]
egt4   = data350['EGT_4'][0][0][0][:]

print(f'Unique values of EGT1: {np.size(egt1)}')
#print(f'Unique values of EGT2: {np.unique(egt2)}')
#print(f'Unique values of EGT3: {np.unique(egt3)}')
#print(f'Unique values of EGT4: {np.unique(egt4)}')

Unique values of EGT1: 4960